<h1>タスク一覧</h1>

<%= link_to '新規投稿', new_task_path %>
<table>
	<thead>
		<tr>
			<th>タスク名</th>
			<th>登録日時</th>
			<th>詳細</th>
		</tr>
	</thead>
	<% @tasks.each do |t| %>
		<tbody>
			<tr>
				<td><%= t.name %></td>
				<td><%= t.created_at %></td>
				<td><%= t.description %></td>
			</tr>
		</tbody>
	<% end %>
</table>